{% extends 'base.html' %}
{% block content %}
<h1>{{ book.title }}</h1>

{% if current_user.is_authenticated %}
    {% if book not in current_user.favorite_books %}
        <!-- Show only if the user is logged in and the book is not in their favorites -->
        <form action="/favorite/{{ book.id }}" method="POST">
            <input type="submit" value="Favorite This Book">
        </form>
    {% else %}
        <!-- Show only if the user is logged in and the book is in their favorites -->
        <form action="/unfavorite/{{ book.id }}" method="POST">
            <input type="submit" value="Unfavorite This Book">
        </form>
    {% endif %}
{% endif %}

<p>
    <strong>Author</strong>: {{ book.author.name }}
</p>
<p>
    <strong>Author Bio</strong>: {{ book.author.biography }}
</p>
<p>
    <strong>Publish date</strong>: {{ book.publish_date }}
</p>
<p>
    <strong>Audience</strong>: {{ book.audience }}
</p>
<p>
    <strong>Genres</strong>:
    {% for genre in book.genres %}
        {{ genre.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
</p>

<form method="POST" action="{{ url_for('main.book_detail', book_id=book.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit this book</legend>
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.publish_date.label }}
            {{ form.publish_date(placeholder="YYYY-mm-dd") }}
        </div>
        <div class="form-group">
            {{ form.author.label }}
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.audience.label }}
            {{ form.audience }}
        </div>
        <div class="form-group">
            {{ form.genres.label }}
            {{ form.genres }}
        </div>
        <div class="form-group">
            {{ form.submit }}
        </div>
    </fieldset>
</form>
{% endblock %}